:root {
  --bg-page: #e4e4e4;
  --bg-main: #f5f5f5;
  --font-color: #707070;
  --bg-elements: #fafafa;
  --blue: #6aa6f5;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
  scrollbar-width: thin;
  scrollbar-color: #a1a1a1 var(--bg-main);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #818181;
  cursor: pointer;
}
body {
  background-color: var(--bg-page);
  height: 100%;
  overflow: hidden;
}

.p-1 {
  padding: 5px;
}
.p-2 {
  padding: 10px;
}
.p-3 {
  padding: 15px;
}
.p-x-1 {
  padding: 0px 5px;
}
.p-x-2 {
  padding: 0px 10px;
}
.p-x-3 {
  padding: 0px 15px;
}
.p-y-1 {
  padding: 5px 0px;
}
.p-y-2 {
  padding: 10px 0px;
}
.p-y-3 {
  padding: 15px 0px;
}

.m-1 {
  margin: 5px;
}
.m-2 {
  margin: 10px;
}
.m-3 {
  margin: 15px;
}
.m-x-1 {
  margin: 0px 5px;
}
.m-x-2 {
  margin: 0px 10px;
}
.m-x-3 {
  margin: 0px 15px;
}
.m-y-1 {
  margin: 5px 0px;
}
.m-y-2 {
  margin: 10px 0px;
}
.m-y-3 {
  margin: 15px 0px;
}

.m-t-1 {
  margin-top: 5px;
}
.m-t-2 {
  margin-top: 10px;
}
.m-t-3 {
  margin-top: 15px;
}

.shadow {
  box-shadow: 0px 3px 6px #9a9a9a3f;
}

.test {
  background-color: red;
}

.selected-element {
  display: none;
  position: absolute;
  outline: 3px solid #6aa6f5;
  pointer-events: none;
  border-radius: 1px;
}

.selected-element button {
  border: none;
  background: none;
  margin: 0 5px 2px 5px;
  cursor: pointer;
}

.tools {
  pointer-events: all;
  display: inline;
  position: absolute;
  background: #6aa6f5;
  top: -22px;
  right: -4px;
  border-radius: 3px;
}

.tools-icon {
  width: 15px;
  height: 15px;
}

.tag-name {
  position: absolute;
  background: #6aa6f5;
  color: white;
  font-size: 14px;
  top: -18px;
  left: -4px;
  border-radius: 2px;
  text-transform: lowercase;
  padding: 0 5px;
}
/* ------------------------------ navbar ----------------------------*/

.navbar {
  background: var(--bg-main);
  color: var(--font-color);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.screen-group,
.tools-group {
  background: white;
  border-radius: 3px;
}

.screen-btn {
  padding: 0 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.screen-btn:active {
  outline: none;
}

.btn-selected {
  background: var(--bg-page);
  outline: none;
  border-radius: 3px;
}

.screen-btn img {
  padding: 3px 2px 0px 2px;
  width: 25px;
  height: 25px;
}

.hide {
  display: none;
}

.hide-page {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--bg-page);
  z-index: 10;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.hide-page img {
  padding: 3px 2px 0px 2px;
  width: 25px;
  height: 25px;
}

/* ------------------------------ main section ----------------------------*/

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
}

.main {
  display: flex;
  flex-grow: 2;
  width: 100%;
  height: calc(100% - 50px);
  margin-top: 3px;
}

.show-target-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.target-page {
  justify-content: center;
  display: flex;
  flex-grow: 2;
  background: var(--bg-page);
}

.target-page iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: white;
  transition: width 0.4s ease-in;
}

/* ------------------------------ left side menu ----------------------------*/

.left-side-menu {
  color: var(--font-color);
  margin-right: 3px;
  width: 260px;
  padding: 0px 0px 0.5rem 0px;
}

.tabs {
  display: flex;
  background: var(--bg-elements);
  border-radius: 3px;
  margin-bottom: 3px;
}

.tab {
  border: none;
  padding: 5px;
  width: 100%;
  background: var(--bg-elements);
  color: var(--font-color);
  cursor: pointer;
  text-align: center;
  position: relative;
}

.tab p {
  font-size: 14px;
}

.tab:nth-child(2) {
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
}

.active-tab {
  background: white;
}
.active-tab p::before {
  content: "";
  width: 100%;
  height: 3px;
  background: var(--blue);
  display: block;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}

.group-elements {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(100% - 25px);
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--bg-main);
  padding-bottom: 0.5rem;
}

.elements {
  display: grid;
  grid-template-columns: 75px 75px 75px;
  column-gap: 10px;
  row-gap: 15px;
  margin-top: 10px;
}

.element {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: grab;
  width: 75px;
  height: 75px;
  background-color: var(--bg-elements);
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  font-size: 12px;
}

.element:active {
  cursor: grabbing;
}

.element p {
  padding: 2px 0.5rem 0 0.5rem;
  text-align: center;
}

.img-ele {
  width: 35px;
}

/* ------------------------------ right side menu ----------------------------*/
.right-side-menu {
  color: var(--font-color);
  margin-left: 3px;
  width: 260px;
  overflow-y: auto;
}

.styles {
  color: var(--font-color);
}

.group {
  padding: 0.5rem 0.5rem 0.6rem 0.5rem;
  border-left: 10px solid #6aa6f5;
  background: var(--bg-main);
  margin-bottom: 6px;
}

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
}

.toggle h4 {
  width: 100%;
}

.toggle img {
  width: 15px;
  height: 15px;
}

.style-group {
  margin-top: 12px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  column-gap: 13px;
  row-gap: 5px;
}

.style-group div {
  display: flex;
  flex-direction: column;
}

.style-group div span {
  margin-bottom: 5px;
}

.style-group div input,
.style-group div select {
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 4px;
  box-shadow: 0px 3px 6px #5b5b5b27;
}

.style-group div input:focus,
.style-group div select:focus {
  outline: 1px solid var(--font-color);
}
