
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
}

.hide {
  display: none;
}

.hide-page {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #686868;
  z-index: 10;
  cursor: pointer;
  border: none;
}

.hide-page img {
  padding: 3px 2px 0px 2px;
  width: 25px;
  height: 25px;
}

.test {
  width: 300px;
  height: 300px;
}

.navbar {
  background: #828282;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.screen-btn {
  margin: 0 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.screen-btn:active {
  outline: none;
}

.btn-selected {
  background: #9a9a9a;
  outline: none;
  border-radius: 3px;
}

.screen-btn img {
  padding: 3px 2px 0px 2px;
  width: 25px;
  height: 25px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

.main {
  display: flex;
  flex-grow: 2;
  width: 100%;
  height: 100%;
}

.left-side-menu {
  background: #828282;
  color: white;
  padding: 1rem 0.5rem;
  width: 250px;
}

.right-side-menu {
  background: #828282;
  color: white;
  padding: 1rem 0.5rem;
  width: 250px;
}

.show-target-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.target-page {
  justify-content: center;
  display: flex;
  flex-grow: 2;
  background: #8e8e8e;
}

.target-page iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #ff4c5b;
  background: white;
  transition: width 0.4s ease-in;
}

.elements {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-top: 1rem;
}

.element {
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.element:active {
  cursor: grabbing;
}

.element p {
  background: #cccccc;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  text-align: center;
}
